/* This sets the stage for my style- fixes IE and opera and maybe other browsers. */
html{
	font-size:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*


*/


/* Main page columns. */
.left_column{
	float: left;
	padding: 0;
	margin: 0.25em;
}
.second_column{
	width: 12em;
	float: left;
	padding: 0.25em;
	margin: 0;
}
.third_column{
	width: 12em;
	float: left;
	padding: 0.25em;
}
/* And title bar. */
.title{
}


/* Garbage element to keep parent div open, 
   instead of closing and letting my floats out.
   So it's a bit hacky.  So what!! */
.empty{
	clear: both;
	border: 1px solid black;
}



/* Set default format for lists to the desired behavior. */
ul, ul li{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#linklist li{
	clear: both;
	border-top: 1px solid black;
}
ul#linklist{
	border: 1px solid red;
}


/* List formatting (as cells) */
ul#linklist li span, ul#linklist h1 span{
	float: left;
	padding: 0 0.25em 0 0.25em;
	border-left: 1px solid black;
	width: 7em;
}

/* Title row is highlighted and is not a list entry...*/
ul#linklist h1{
	font-size: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
ul#linklist h1 span{
	float: left;	
	background-color: skyblue;
	border-top: 1px solid black;
}

/* Left column of every row.
   I love that CSS lets me do this! :first-child rocks! */
ul#linklist li span:first-child, ul#linklist h1 span:first-child{
	clear: both;
	border-left: 0;
	text-align: center;
	width: 10em;
}

div.linkadd{
	padding: 0.25em;
}

ul#linklist li input{
	width: 25px;
}

/* Link colours.  */


a:link.quicklinks{
	color: #22cc55;
	text-decoration: none;
	font-weight: bold;
}
a:hover.quicklinks{
	color: #22ff55;
}

/* Interactive elements for javascript use */

a:link.unavailable, a:hover.unavailable{
	color: red;
	text-decoration: none;
	font-weight: bold;
}