/*Comment!*/
/* This sets the stage for my style- fixes IE and opera and maybe other browsers. */
html{
	font-size:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*


*/


/* Main page columns. */
.left_column{
	padding: 0;
	margin: 0.25em auto;
}
.second_column{
	width: 12em;
	float: left;
	padding: 0.25em;
	margin: 0;
}
.third_column{
	width: 12em;
	float: left;
	padding: 0.25em;
}
/* And title bar. */
.title{
}


/* Garbage element to keep parent div open, 
   instead of closing and letting my floats out.
   So it's a bit hacky.  So what!! */
.empty{
	clear: both;
	border: 1px solid black;
}



/* Set default format for lists to the desired behavior. */
ul, ul li{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul#linklist li{
	clear: both;
	/*border-top: 1px solid black; */
}
ul#linklist{
	border: 1px solid gray;
	float: left;
}



/* List formatting (as cells) */
ul#linklist li span, ul#linklist h1 span{
	padding: 2px 15px 2px 15px;
	/*border-left: 1px solid black;*/
	background-color: #eaeded;
	float: left;
	height: 20px;
}
ul#linklist li.even span{
	background-color: #dfe3e3;
}

/* Title row is highlighted and is not a list entry...*/
ul#linklist h1{
	font-size: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
ul#linklist h1 span{
	float: left;	
	background-color: #cacdcd;
	/*border-top: 1px solid black;*/
}


/* Left column of every row.
   I love that CSS lets me do this! :first-child rocks! */
ul#linklist li span:first-child, ul#linklist h1 span:first-child{
	clear: both;
	border-left: 0;
	text-align: center;
	width: 11em;
}

div.linkadd{
	padding: 0.25em;
}

ul#linklist li button{
	height: 80%;
	border: 0;
}

/* Link colours.  */


ul#linklist a:link, 
ul#linklist a:visited,
ul#linklist a:active{
	color: #19962d;
	text-decoration: none;
	font-weight: bold;
}
ul#linklist a:hover, 
ul#linklist a:visited:hover,
ul#linklist a:active:hover{
	color: #19962d;
}

/* Interactive elements for javascript use */

ul#linklist a:link.unavailable, 
ul#linklist a:hover.unavailable, 
ul#linklist a:active.unavailable,
ul#linklist a:visited.unavailable, 
ul#linklist a:visited:hover.unavailable,
ul#linklist a:active:hover.unavailable{
	color: red;
	text-decoration: none;
	font-weight: normal;
}